.weather-app{
max-width: 700px;
margin: 30px auto;
padding-left: 50px; 
padding-top:50px;
padding-right:30px;
padding-bottom:50px;
border: 1px solid #868B8E; 
border-radius: 10%;
font-family: monospace;
}



.weather-image{
    display:block;
    width: 500px;
    margin-left: auto;
    margin-right:auto;
}

.temperature{
    padding-left:60px;
    font-size: 100px;
}

.temperature .unit{
    position: relative;
    font-size: 50px;
    top: -30px;
    right: 60px

}
.other-information{
    margin-top: 15px;
    font-size:15px;
    list-style:none;
    color:#444444;
}

.place{
    font-size: 40px;
    color:black
}

.greeting{
    margin-top:40px;
    text-align: center;
    font-size:30px;
    color:#444444;
}

.week{
    text-align: center;
    font-size:70px;
    margin-bottom:40px;
    color:#444444;
}

.signature{
    font-size:12px  ;
}